@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

$red:#E74C3C;
$blue:#2c3e50;


body {

  margin: 0;
  padding: 0;
  background: rgb(230, 230, 230);
  color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  // font-size: 112.5%;
  // line-height: 1.6em;
}
.logo{
  width: 80px;
  height: 80px;
  display: block;
  background-size:contain;
}
video{
  margin-top: -180px;
  width:100%;
  opacity: .3;
  min-width: 1200px;
}
.hovervid{
  width:100%;
  height: 100%;
  position:absolute;
  background: url('../../media/site/cross-stripes.png');
}
.navbar{
  background: transparent;
  border: none;
}
.tagremove{
    font-size: 15px;
    margin-left: 3px;
    color: $red;
}
header{
  position: relative;
  overflow: hidden;
	height:420px;
	background: $blue;
	background-size: cover;
  border-bottom: solid $blue 2px;
  margin-bottom: 30px;
}
section{
  padding: 80px 0;
}
footer{
  background: $blue;
  min-height: 80px;
  margin-top: 80px;
  p{
    padding-top: 30px;
  }
  small{
    color: white;
    font-weight: 300;
  }
  small a{
    color: $red;
    font-weight: 300;
  }
  small a:hover{
    color: white;
  }
}

.movielist h5{
	font-size: 1em;
	font-weight: 600;
}
.movielist p{
	font-size: .9em;
}
.movielist .btn.tag{
  margin: 2px;
}
.movielist .btn.breakdown{
  background-color: $red;
  border: none;
  border-bottom: 3px solid darken($red, 30);
  color: white;
  &:hover{
    margin-top: 3px;
    border: none;
    background-color: $red;
    border-bottom: 0px solid darken($red, 30);
    color: white;
  }
}
.movielist .poster{
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}
.movie{
  margin-bottom: 20px;
}
.title{
  position: absolute;
  top:20%;
  width: 240px;
  margin-left: -120px;
  left: 50%;
  z-index: 2;

  h1{
    color: white;
  }
  h2.tagtitle{
    color:$blue;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  h1{
    position:relative;
    font-size: 1.6em;
    text-transform: uppercase;
    &:before{
      content: "";
      position: absolute;
      width: 45px;
      height: 1px;
      background: white;
      display: block;
      top: 10px;
      left: 8px;
    }
    &:after{
      content: "";
      position: absolute;
      width: 45px;
      height: 1px;
      background: white;
      display: block;
      top: 10px;
      right: 8px;
    }
  }
  small{
    color: white;
    width: 240px;
    position: relative;
    height: 30px;
    float: left;
    letter-spacing: 3px;
    text-align: center;
    text-indent: 3px;
  }
}
h5 a{
  color: $red;
  font-weight: 600;
}
h5 a:hover{
  color: #a94442;
  font-weight: 600;
}