%ul.timeline
  / Item 1
  %li.act
    %span.center
      ACT I
  %li
    .direction-r
      .flag-wrapper
        %span.flag Status Quo
        %span.time-wrapper
          %span.time 00:00 - 10:00
      .desc 
        Hi in prision, marries Ed, can't have babies with her.
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }
  / Item 2
  %li
    .direction-l
      .flag-wrapper
        %span.flag Lock In
        %span.time-wrapper
          %span.time 11:00 - 19:30
      .desc
        Hi steal Nathan Jr., they go back home, Ed is scared of her responsability.
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }
  / Item 3
  %li.act
    %span.center
      ACT II
  %li
    .direction-r
      .flag-wrapper
        %span.flag Raising the Stakes
        %span.time-wrapper
          %span.time 20:30 - 28:30
      .desc 
        A description of all the lectures and courses I have taken and my final degree?
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }
  %li
    .direction-l
      .flag-wrapper
        %span.flag Midpoint
        %span.time-wrapper
          %span.time 2011 - 2013
      .desc 
        My first employer. All the stuff I've learned and projects I've been working on.
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }
  / Item 3
  
  %li
    .direction-r
      .flag-wrapper
        %span.flag Rising Action
        %span.time-wrapper
          %span.time 2013 - present
      .desc 
        My current employment. Way better than the position before!
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }
  / Item 2
  %li
    .direction-l
      .flag-wrapper
        %span.flag Main Culmination
        %span.time-wrapper
          %span.time 2011 - 2013
      .desc 
        My first employer. All the stuff I've learned and projects I've been working on.
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }
  / Item 3
  %li.act
    %span.center
      ACT III
  %li
    .direction-r
      .flag-wrapper
        %span.flag Twist
        %span.time-wrapper
          %span.time 20:30 - 28:30
      .desc 
        A description of all the lectures and courses I have taken and my final degree?
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }
  %li
    .direction-l
      .flag-wrapper
        %span.flag Resolution
        %span.time-wrapper
          %span.time 2011 - 2013
      .desc 
        My first employer. All the stuff I've learned and projects I've been working on.
        .img-container
          %img.img-responsive.center-block{ :'src' => 'img/Untitled.gif' }