%ul.timeline
  / Item 1
  %li
    .direction-r
      .flag-wrapper
        %span.flag Freelancer
        %span.time-wrapper
          %span.time 2013 - present
      .desc My current employment. Way better than the position before!
  / Item 2
  %li
    .direction-l
      .flag-wrapper
        %span.flag Apple Inc.
        %span.time-wrapper
          %span.time 2011 - 2013
      .desc My first employer. All the stuff I've learned and projects I've been working on.
  / Item 3
  %li
    .direction-r
      .flag-wrapper
        %span.flag Harvard University
        %span.time-wrapper
          %span.time 2008 - 2011
      .desc A description of all the lectures and courses I have taken and my final degree?
  %li
    .direction-l
      .flag-wrapper
        %span.flag Apple Inc.
        %span.time-wrapper
          %span.time 2011 - 2013
      .desc My first employer. All the stuff I've learned and projects I've been working on.
  / Item 3
  %li
    .direction-r
      .flag-wrapper
        %span.flag Freelancer
        %span.time-wrapper
          %span.time 2013 - present
      .desc My current employment. Way better than the position before!
  / Item 2
  %li
    .direction-l
      .flag-wrapper
        %span.flag Apple Inc.
        %span.time-wrapper
          %span.time 2011 - 2013
      .desc My first employer. All the stuff I've learned and projects I've been working on.
  / Item 3
  %li
    .direction-r
      .flag-wrapper
        %span.flag Harvard University
        %span.time-wrapper
          %span.time 2008 - 2011
      .desc A description of all the lectures and courses I have taken and my final degree?