{% load staticfiles %}
doctype html
html
	head
		title my jade template
		link(rel="stylesheet", type="text/css", href="{% static 'style.css' %}")
	body
		h1 {{ movie.name }}
		ul
			| {% for script in movie.script_set.all %}
			li {{ script.sequence }}
			| {% endfor %}