{% load compress %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

doctype html
html
	head
		title {{movie.name}} - 8 Secuencias
		{% compress css inline %}
		link(rel="stylesheet", type="text/css", href="{% static 'scss/logo.scss' %}")
		link(rel="stylesheet", type="text/css", href="{% static 'scss/timeline.scss' %}")
		{% endcompress %}
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				navbar-header
					a.navbar-brand(href="{% static '../' %}")
						span.glyphicon.glyphicon-chevron-left
						| Back
				a.logo-cont(href="{% static '../' %}")
					.logo
		{% if movie.sequences.all|length > 7 %}
		h1.text-center {{ movie.name }}
		h3.text-center
			small 
				| ({{ movie.year }})
		h5.text-center
			| Dirigida por: {{ movie.director }}
		h5.text-center
			| Guión: {{ movie.writer }}
		ul.timeline
			{% for script in movie.sequences.all %}
			{% if script.sequence == 1 or script.sequence == 3 or script.sequence == 8 %}
			li.act
				span.center
					| ACT {{script.act}}
			{% endif %}
			li
				.in(class="{% if forloop.counter|divisibleby:2 %}direction-l{% else %}direction-r{% endif %}")		
					.flag-wrapper
						span.flag Status Quo
						span.time-wrapper
							span.time {{script.begin}} - {{script.end}}
					.desc 
						| Hi in prision, marries Ed, can't have babies with her.
						.img-container
							img.img-responsive.center-block( src="{{script.image.url}}" )
			{% endfor %}

			{% else %}
			br
			br
			h1.text-center 
				| Available soon...
			{% endif %}