{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

doctype html
html
	head
		title my jade template
		link(rel="stylesheet", type="text/css", href="{% static 'scss/timeline.scss' %}")
	body
		h1.text-center {{ movie.name }}
		h2 {{ movie.year }}
		h2 {{ movie.director }}
		h2 {{ movie.writer }}
		img( src="{% static movie.cover %}" )
		ul
			| {% for script in movie.sequences.all %}
			li
				span
					{{ script.act }}
				span
					{{ script.begin }}
				span
					{{ script.end }}
				span
					{{ script.sequence }}
					img( src="{% static script.image %}" )
				span
					{{ script.description }}
			| {% endfor %}