{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

doctype html
html
  head
    title Index
    link(rel="stylesheet", type="text/css", href="{% static 'style.css' %}")
  body
    h1 Hello
    | {% if latest_movie_list %}
    ul
      | {% for movie in latest_movie_list %}
      li
        a(href="/movies/{{ movie.id }}/")
          img( src="{{movie.cover.url}}" )
          {{ movie.name }}
      | {% endfor %}

    | {% else %}
    p
      | nothing.
    | {% endif %}
