{% load compress %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

doctype html
html
  head
    title Scripture {% if tag %} - {{tag}}{% endif %}
    {% compress css %}
    link(rel="stylesheet", type="text/css", href="{% static 'scss/logo.scss' %}")
    link(rel="stylesheet", type="text/css", href="{% static 'scss/home.scss' %}")
    {% endcompress %}
  body   
    header
      .title
        .logo.center-block
        h1.text-center Scripture
        small.text-center The 8 sequence breakdown
      .hovervid
      video.video(autoplay loop)
        source(src="../../media/video/videobg.mp4" type="video/mp4")
        source(src="../../media/video/videobg.ogv" type="video/ogg")
        source(src="../../media/video/videobg.webm" type="video/webm")
    

    section.movielist.container
      {% if tag %}
      h2.tagtitle.text-center
        | Tagged: 
        span.tagged
          | {{tag}}
        a(href="/")
          span.tagremove.glyphicon.glyphicon-remove
      hr
      {% endif %}

      {% if latest_movie_list %}
      
      {% for movie in latest_movie_list %}
      .movie.col-sm-6.col-md-6.col-lg-4
        .col-sm-6
          a(href="/{{ movie.slug }}")
            img.img-responsive.center-block.poster( src="{{movie.cover.url}}" )
        .col-sm-6
          h5
            a(href="/{{ movie.slug }}/")
              |{{movie.name}}
            small
              |  ({{movie.year}})
          p
            span.glyphicon.glyphicon-bullhorn 
            |  {{movie.director}}
          p
            span.glyphicon.glyphicon-pencil
            |  {{movie.writer}}

          p
            {% for tag in movie.tags.names %}
            a(href="/tag/{{tag}}")
              button.tag.btn.btn-default.btn-xs
                |{{tag}}  
                span.glyphicon.glyphicon-tags 
            {% endfor %}


          a.btn.btn-default.breakdown(href="/{{ movie.slug }}/")
            | Breakdown
      {% endfor %}

    {% else %}
    p
      | nothing.
    {% endif %}
    footer
      .container
        p.text-center
          small
            | Scripture© 2016 - content, code and design by 
            a( href="http://www.sabino.cl")
              | Sabino 