{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

doctype html
html
  head
    title Scripture
    link(rel="stylesheet", type="text/css", href="{% static 'scss/home.scss' %}")
  body
    header
      h1.text-center Scripture
    | {% if latest_movie_list %}
    ul
      | {% for movie in latest_movie_list %}
      li
        a(href="/movies/{{ movie.id }}/")
          img( src="{{movie.cover.url}}" )
          {{ movie.name }}
      | {% endfor %}

    | {% else %}
    p
      | nothing.
    | {% endif %}
