{% load compress %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

doctype html
html
  head
    title Scripture
    {% compress css inline %}
    link(rel="stylesheet", type="text/css", href="{% static 'scss/home.scss' %}")
    {% endcompress %}
  body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a link1
            li
              a link2
            li
              a link3

    
    header
      .container
        h1.text-center Scripture

    .container

      | {% if latest_movie_list %}
      
      | {% for movie in latest_movie_list %}
      .movie.col-sm-6.col-md-4
        .col-sm-6
          img.img-responsive( src="{{movie.cover.url}}" )
        .col-sm-6
          h5
            |{{movie.name}}
            small
              |  ({{movie.year}})
          p
            |{{movie.director}}
          p
            |{{movie.writer}}

          a.btn.btn-default(href="/movies/{{ movie.id }}/")
            | Estructura
      | {% endfor %}

    | {% else %}
    p
      | nothing.
    | {% endif %}
